# Variables

> A variable is a location in memory used to store some data (value).

1. They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

2. We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [1]:
#We use the assignment operator (=) to assign values to a variable

a = 10 #integer 
# Here the value 10 is stored in a memory location named as a.
b = 5.5 #float
c = "ML" #string

# Multiple Assignments

In [2]:
a, b, c = 10, 5.5, "ML" # It is same as the prev example, just we are defining all variables in same line

In [3]:
a = b = c = "AI" #assign the same value to multiple variables at once

# Storage Locations

In [1]:
x = 3

print(id(x))               #print address of variable x

1676176512

In [2]:
y = 3

print(id(y))               #print address of variable y

1676176512

Observation:

x and y points to same memory location , it is done to save memory.

In [3]:
y = 2
print(id(y))               #print address of variable y

1744661600

# Data Types

Every value in Python has a datatype.
Since everything is an object in Python programming(as python is an object oriented programming language), data types are actually classes and variables are instance (object) of these classes.(this can also noticed by output when we run print(type(a)) function)

# Numbers

>Integers, floating point numbers and complex numbers falls under Python numbers category.

>They are defined as int, float and complex class in Python.

We can use the :

 Type() function : used to know which class a variable or a value belongs to;

 The isinstance() function : used to check if an object belongs to a particular class.

In [4]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [5]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [4]:
a = 1 + 2j                       #data type is changed to complex number
print(a, " is complex number?") 
print((type(a)))
print(isinstance(a, int))

(1+2j)  is complex number?
<class 'complex'>
False

# Boolean

 Boolean represents the truth values False and True

In [18]:
a = True                          #a is a boolean type i.e either true or false 
print(type(a))

<class 'bool'>

# Python Strings

> String is sequence of Unicode characters.(Unicode character [not ASCII character] , which means it can store numbers , special symbols , alphabets, non english characters etc..)

>> Unicode covers all the characters for all the writing systems of the world, modern and ancient. It also includes technical symbols, punctuations, and many other characters used in writing text.

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [22]:
s = "This is Online AI course" # single line strings
print(s)
print(len(s))

This is Online AI course
24

In [23]:
p = """Heyyyy
        I love you the most , keep going and never look back"""
# Multiline-line strings
print(p) #printing a string
print((type(p))) # printing data type
print(len(p)) #printing length of string

Heyyyy
        I love you the most , keep going and never look back
<class 'str'>
67

In [24]:
print(p[0])       # nth character = p[n-1]

# nth character from end = s[-n]

print(s[-3])

#last char s[len(s)-1] or s[-1]
print(s[len(s)-1],"or", s[-1])

H
r
e or e

In [30]:
#slicing
s[7:]    #from 5th character to end

' Online AI course'

In [28]:
s[3:7]    #from 3rd character to 7th character and NOT the 7th one

's is'

# Python List [  ]

List is an "ordered" sequence of items. 

It is one of the most used datatype in Python and is very flexible. 

All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [32]:
a = [10, 20.5, "Hello"]
print(a[1])   #print 1st index element.
print(a) # printing list.
print(len(a)) #printing length of list.

20.5
[10, 20.5, 'Hello']
3

Lists are mutable, meaning, value of elements of a list can be altered.

In [33]:
a[1] = 30 #changing an element
print(a)

[10, 30, 'Hello']

# Python Tuple ( )

Tuple is an "ordered" sequence of items same as list.

The only difference is that tuples are immutable.

Tuples once created cannot be modified/altered.

In [43]:
t = (1, 1.5, "ML")

In [44]:
print(t[1]) #extract particular element

1.5

In [45]:
t[1] = 1.25 # tuple does not support modification/ item assignment

TypeError: 'tuple' object does not support item assignment

# Python Set { }

Set is an "unordered" collection of unique items.

Set is defined by values separated by comma inside braces { }.

Items in a set are not ordered.

In [5]:
a = {10, 30, 20,10, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [35]:
print(type(a))  #print type of a

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [36]:
s = {10, 20, 20, 30, 30, 30}
print(s)     #automatically set won't consider duplicate elements

{10, 20, 30}

In [37]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object does not support indexing

# Python Dictionary { }

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. 

Key and value can be of any type.

In [6]:
d = {'a': "apple", 'b': "bat"}
print (d['a'])

apple

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [10]:
float(5)     #convert interger to float using float() method

5.0

In [11]:
int(100.5)   #convert float to integer using int() method

100

In [12]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [ ]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

### Some printing codes :

In [ ]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

In [13]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + lines + " lines of code" )
#remove str and gives error

TypeError: must be str, not int

Converting one data-type to other continued...

In [23]:
a = [1, 2, 3]
print(type(a))      #type of a is list 
s = set(a)          #convert list to set using set() method
print(type(s))      #now type of s is set
#lly we can convert sets to lists , tople to lists and vice versa

<class 'list'>
<class 'set'>

In [24]:
list("Hello")   #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']

In [9]:
print("HI my roll no. is {1} , and name is {0}".format(3,"manaswini"))

HI my roll no. is manaswini , and name is 3